<style>
    .display-1 {
      font-size: 70px;
       position: absolute;
       top: 15%;
       color: white;
       font-family: Arial, Helvetica, sans-serif;
   }
 
   .display-2 {
     font-size: 70px;
 
       position: absolute;
       top: 30%;
       color: white;
       font-family: Arial, Helvetica, sans-serif;
       left: 15%;
   }
 br{
   left:0%;
 }
   .display-3 {
     font-size: 70px;
 left: 1%;
       position: absolute;
       top: 45%;
       color: white;
       font-family: Arial, Helvetica, sans-serif;
   }
   .btn-outline-dark {
       position: absolute;
       top: 70%;
       left: 51%;
     font-size: large;
     background-color:darkgrey;
   }
 
   #logi {
       position: absolute;
       top: 79%;
       font-size: 20px;
       left: 10%;
   }
 
   #register {
       position: absolute;
       top: 79%;
       font-size: 20px;
       left: 20%;
   }
 .bg{
   background-size: auto;
       background-repeat: no-repeat;
       min-width: 100%;
       margin-top: -70px;
       position: absolute;
       left: -100%;
       right: -100%;
       margin: auto;
       top: 8%;
   }
 </style>
 
 <div class="container">
 
 <img class="bg" src="assets/homelogo.jpg">
 <div class="text-center">
 <h1 class="display-1">Welcome</h1>
 <h1 class="display-2">To</h1>
 <h1 class="display-3">Bank Analyzer
   <br>
 </h1>